<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="Sphorium.WebDAV.Examples.FileServer.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
      <!--      <section name="CIPort.WebDAV.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
      -->
      <section name="Sphorium.WebDAV.Server.Framework.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <applicationSettings>
<!--    <CIPort.WebDAV.Properties.Settings>
      <setting name="RepositoryPath" serializeAs="String">
        <value>E:\tmp</value>
      </setting>
    </CIPort.WebDAV.Properties.Settings>
-->

      <Sphorium.WebDAV.Examples.FileServer.Properties.Settings>
      <setting name="RepositoryPath" serializeAs="String">
        <value>E:\tmp</value>
      </setting>
    </Sphorium.WebDAV.Examples.FileServer.Properties.Settings>

    <Sphorium.WebDAV.Server.Framework.Properties.Settings>
      <setting name="WebDAVDebugOutputFilePath" serializeAs="String">
        <value />
      </setting>
    </Sphorium.WebDAV.Server.Framework.Properties.Settings>
  </applicationSettings>

  <appSettings />
  <connectionStrings />
  
  <system.web>
    <!-- Allow up to 100MB uploads... process for up to 10 minutes -->
    <httpRuntime executionTimeout="600" maxRequestLength="102400" />
    <!-- HttpURLHandler for handling url requests -->
    <httpModules>
      <!-- 
      <add name="FileWebDAVModule" type="CIPort.WebDAV.FileWebDAVModule, CIPort.WebDAV" />
      -->
      <add name="FileWebDAVModule" type="Sphorium.WebDAV.Examples.FileServer.FileWebDAVModule, Sphorium.WebDAV.Examples.FileServer" />
    </httpModules>
    <compilation debug="true"></compilation>
  </system.web>
  <system.webServer>
    <modules>
      <add name="FileWebDAVModule" type="Sphorium.WebDAV.Examples.FileServer.FileWebDAVModule, Sphorium.WebDAV.Examples.FileServer" />
      <!-- <add name="FileWebDAVModule" type="CIPort.WebDAV.FileWebDAVModule, CIPort.WebDAV" />
      -->
    </modules>
    <validation validateIntegratedModeConfiguration="false" />
  
    <defaultDocument>
      <files>
        <add value="example.aspx" />
      </files>
    </defaultDocument>
  </system.webServer>

</configuration>